<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Анализ по категориям</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<canvas id="myChart"></canvas>
<script>
    let ctx = document.getElementById('myChart').getContext('2d');
    let chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['Компьютеры', 'Принтеры', 'Сканеры', 'Серверы', 'Переферия', 'Каналы связи', 'Ноутбуки', 'Мобильная техника'],
            datasets: [{
                label: 'Количество заявок на техническую поддержку по категориям',
                backgroundColor: 'rgb(99,138,255)',
                borderColor: 'rgb(99,143,255)',
                data: [44, 46, 33, 41, 31, 35, 33, 33]
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>
</body>
</html>